body {
    font-family: Arial, sans-serif;
    background-image: url('images/one.jpg');
    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: rgba(245, 178, 54, 0.8);
    border-radius: 10px;
    box-shadow: #00000059 0px 20px 30px;
    padding: 20px;
    width: 350px;
    text-align: center;
}

.display {
    background-color: #f4e9e2;
    border-style: double;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow:0 5px 10px #35332f;
    border: 3px solid #ddd;
    background-image: url('images/graph.png');
}

#display {
    width: 100%;
    border: none;
    font-size: 2.5rem;
    text-align: right;
    outline: none;
    background-color: transparent;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 1.2rem;
    background-color: #23234d;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    margin: 5px;
    width: 70px;
    height: 70px;
    
    box-shadow:0 5px 10px #35332f;
    border: 2px solid #ddd;
    user-select: none;
}

.operator {
    background-color: #0bbef0;
}

.button:hover {
    background-color: #ff8000;
}

.button:active {
    transform: scale(0.95);
}
